@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import "tailwindcss";

@plugin "daisyui";



body {
    @apply bg-[#020617] text-slate-200;
}



.liquid-border::before {
    content: "";
    position: absolute;
    inset: -6px;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #22d3ee, transparent 60%);
    animation: ripple 2s ease-in-out infinite alternate;
    z-index: -1;
}

@keyframes ripple {
    0% {
        transform: scale(0.95);
        opacity: 0.6;
    }

    100% {
        transform: scale(1.05);
        opacity: 0.3;
    }
}






@keyframes pulse-slow {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.3;
    }

    50% {
        transform: scale(1.05);
        opacity: 0.6;
    }
}

.animate-pulse-slow {
    animation: pulse-slow 3s ease-in-out infinite;
}

@keyframes ping-slow {
    0% {
        transform: scale(0.95);
        opacity: 0.4;
    }

    50% {
        transform: scale(1.05);
        opacity: 0.25;
    }

    100% {
        transform: scale(0.95);
        opacity: 0.4;
    }
}

.animate-ping-slow {
    animation: ping-slow 4s ease-in-out infinite;
}